{% extends 'base.html.twig' %}

{% block title %}Hello IndexController!{% endblock %}

{% block body %}
    <div>
        <div>
            <img alt="Cooking illustration" src="{{ asset('assets/pics/cookIllustration.png') }}">
        </div>
        <div>
            <h1>Cook-In</h1>
            {{ form (form) }}
            <p>Des recettes qui feront de vous un chef presque étoilé ✨ !</p>
        </div>
    </div>
{% endblock %}
